html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    padding: 0;
    margin: 0;
}

#calculator{
    border: 1px solid #000;
    background-color: #9d9d9d;
    max-width: 500px;
    min-width: 300px;
    padding: 8px;
    margin: 0 auto;
}

#display{
    background-color: #fff;
    border: 1px solid #000;
    padding: 5px;
    margin-bottom: 15px;
    text-align: right;
    font-size: 2rem;
    font-family: monospace;
}

#buttons,
.buttonRow{
    display: flex;
    gap: 8px;
}

#buttons{
    flex-direction: column;
}

button{
    padding: 4px;
    border-radius: 4px;
    flex: 1;
    font-size: 1.5rem;
}

button.squareBtn{
    aspect-ratio: 1 / 1;
}

#clearBtn{
    font-size: 1rem;
}